.input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.input:active {
    border: none;
    outline: none;
}

.input:focus {
    outline: none;
}