.li {
    list-style-type: none;
}

.ul {
    list-style-type: none;
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 1110px;
    list-style-type: none;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    color: black;
}

.CardWrap {
    width: 250px;
    height: 292px;
    border: 1px solid black;
    border-radius: 30px;
}

.title {
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    font-family: 'Montserrat';
    font-weight: normal;
}

.price {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

@media (max-width: 1150px){
    .cardsList {
        max-width: 1022px;
        justify-content: center;
        margin: 0;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 834px){
    .cardsList {
        max-width: 768px;
        justify-content: center;
        margin: 0;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 540px){
    .cardsList {
        max-width: 320px;
        justify-content: center;
        margin: 0;
        margin: 0 auto;
        padding: 0;
    }
}