.nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    font-family: 'Montserrat';
    max-width: 958px;
    margin: 0;
    margin: 0 auto;
    padding: 0;
}
.navText {
    padding-left: 20px;
    padding-right: 20px;
}
.logo {
    min-width: 43px;
}

.li {
    list-style-type: none;
};

.ul {
    list-style-type: none;
};